.App{
  background-color: #282c34;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;

  padding-right: 2px;
 
  
}
#first-app{
  margin-right: 45%;
  color: rgb(112, 243, 12);
  font-size: inherit;
  font-weight:lighter;
  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
